---
layout: blog
title: Geek 41
---


{% for post in paginator.posts %}
<!--
	<div >
	  <h5 class="post-date" align="right">{{ post.date | date_to_string}}</h5>		</div> -->
<div class="title-block">
  <h3><a href="{{ post.url }}">[{{ post.date | date:"%F" }}] {{ post.title }}</a></h3>
  {% if post.content contains "<!-- more -->" %}
  {{ post.content | split:'<!-- more -->' | first }}
  {% else %}
  {{ post.content | strip_html | truncatewords:50 }}
  {% endif %}
  <div class="commit">
	<a href="#"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {{post.categories}}</a>
	<a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{post.tags | array_to_sentence_string }} </a>

	<a href="{{post.url}}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> </a>
		 <a href="{{post.url}}#disqus_thread"></a>

	<!-- 
		 <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Star</a>-->
  </div>
</div>
{% endfor %}





<!-- Pagination links -->
<div class="pull-right">
  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
  <a class="btn btn-primary btn-sm" href="/">Home</a>
  <a class="btn btn-primary btn-sm" href="/blog">&laquo; Prev</a>
  {% else %}
  <a class="btn btn-primary btn-sm" href="/">Home</a>
  <a class="btn btn-primary btn-sm" href="/blog/page{{paginator.previous_page}}/">&laquo; Prev</a>
  {% endif %}
  {% else %}
  <span><a class="btn btn-primary btn-sm disabled" href="/blog">Home</a></span>
  <span><a class="btn btn-primary btn-sm disabled">&laquo; Prev</a></span>
  {% endif %}
  <span><a class="btn btn-primary btn-sm disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span>
  {% if paginator.next_page %}
  <a class="btn btn-primary btn-sm" href="/blog/page{{paginator.next_page}}/">Next &raquo;</a>
  <a class="btn btn-primary btn-sm" href="/blog/page{{paginator.total_pages}}/">Last</a>
  {% else if paginator.page == paginator.total_pages %}
  <span><a class="btn btn-primary btn-sm disabled">Next &raquo;</a></span>
  <span><a class="btn btn-primary btn-sm disabled">Last</a></span>
  {% endif %}
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'geek41';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
