---
layout: default
---

<div class="container">
  <div id="logo" class="title  font-effect-shadow-multiple" style="font-family:Rancho;font-size:54px;font-weight:500;">Geek 41 ~ $<span> 老板，给我来一碗泪流满面..</span>

  </div>
  <div class="row">
	<div class="col-md-3">

	  <div style="padding:10px"></div>
	  
	  <span>
		<a href="#">BLOG</a>/<a href="/">HOME</a>
	  </span>
	  
	  <h4>Category</h4>
	  
	  <!-- category list-->
	  <ul>
		{% for category in site.categories %}
		<li><a href="/blog/categories.html#{{ category | first }}">{{ category | first }}({{ category | last | size }})</a></li>
		{% endfor %}
	  </ul>

	  {% include recently_posts.html %}

	  <h4>Tags</h4>
<div>	   {% for tag in site.tags %}
    <a href="#{{ tag[0] }}" 
        title="{{ tag[0] }}" 
        style="font-size: {{ tag[1].size | divided_by:5 | times:20 | plus:100 }}%;">{{ tag[0] }}({{ tag[1].size }})</a>
	{% endfor %}</div>
	
	</div>

	<div class="col-md-9">  
	  <div class="main">
		{{ content }}
	  </div>
	</div>
  </div>
</div>
